<?xml version="1.0" encoding="ISO-8859-1" ?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
          http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name>PWBridge</display-name>
  <welcome-file-list>
    <welcome-file>Welcome.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  <servlet-name>Welcome</servlet-name>
  <jsp-file>/Welcome.jsp</jsp-file>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet>
 <servlet-name>WiFiDetails</servlet-name>
  <jsp-file>/WiFiDetails.jsp</jsp-file>
  <load-on-startup>0</load-on-startup>
 </servlet>
 <servlet>
 <servlet-name>SetWiFi</servlet-name>
 <jsp-file>/SetWifi.jsp</jsp-file>
 <load-on-startup>0</load-on-startup>
 </servlet>
 <servlet>
 <servlet-name>CheckInternetConn</servlet-name>
 <jsp-file>/CheckInternetConn.jsp</jsp-file>
 <load-on-startup>0</load-on-startup>
 </servlet>
 <servlet>
 <servlet-name>reboot</servlet-name>
 <jsp-file>/reboot.jsp</jsp-file>
 <load-on-startup>0</load-on-startup>
 </servlet>
  <servlet>
 <servlet-name>Success</servlet-name>
 <jsp-file>/Success.jsp</jsp-file>
 <load-on-startup>0</load-on-startup>
 </servlet>
</web-app>